<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrea Mammoliti - CV</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1,
        h2,
        h3 {
            margin-bottom: 10px;
        }

        h2 {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }

        ul {
            padding-left: 20px;
        }

        .section {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Andrea Mammoliti</h1>
            <p>Linkedin: <a
                    href="https://linkedin.com/in/andrea-mammoliti-0615991b5/">linkedin.com/in/andrea-mammoliti/</a>
            </p>
            <p>Github: <a href="https://github.com/AndreusSH">https://github.com/AndreusSH</a></p>
        </header>

        <section class="section">
            <h2>Summary</h2>
            <p>
                Currently driving a key PLM project as an in-house Tech Consultant.
                Experienced Co-Founder and Project/Product Manager specializing in software development, with a
                successful track record in initiating and managing projects. Proven versatility as a Tech Consultant
                through freelance work in diverse industries.
            </p>
            <h3>Technical Skills:</h3>
            <ul>
                <li>Javascript</li>
                <li>Node.js</li>
                <li>MongoDB</li>
                <li>React</li>
                <li>Java</li>
                <li>SQL</li>
                <li>Python and Django</li>
            </ul>
            <h3>Management Skills:</h3>
            <ul>
                <li>Agile</li>
                <li>Waterfall</li>
                <li>Kanban</li>
                <li>Gantt chart</li>
                <li>Budgeting and cost control</li>
            </ul>
        </section>
        <section class="section">
            <h2>Professional Experience</h2>

            <div class="job">
                <h3>Freelancer/Contractor (Tech Consultant)</h3>
                <p>Self-employed, Oct 2019 – Present</p>
                <ul>
                    <li>Currently contributing to PLM software development in the software industry.</li>
                    <li>Seamlessly wore multiple hats, serving as a software developer, technical account manager, and
                        business developer.</li>
                    <li>Navigated diverse industries, including VR, Logistics, and E-commerce, ensuring smooth client
                        relationships and project deliveries.</li>
                </ul>
            </div>

            <div class="job">
                <h3>Kino Italy Co-Founder and Product Manager</h3>
                <p>Full-time, Oct 2021 – Nov 2023</p>
                <ul>
                    <li>Initiated and established the Kino Italy project, curating unique experiences in Italian hidden
                        gems.</li>
                    <li>Established partnerships with house providers, ensuring quality accommodations and enhancing
                        project offerings.</li>
                    <li>Facilitated relocation and engagement of over 60 individuals, fostering cultural immersion
                        through medium-stay experiences.</li>
                    <li>Successfully managed and coordinated resources for six projects, contributing to the promotion
                        of local tourism.</li>
                </ul>
            </div>

            <div class="job">
                <h3>Consea Executive Search Consultant</h3>
                <p>Full-time, Oct 2015 - Sep 2019</p>
                <ul>
                    <li>Spearheaded project deliveries, demonstrating adept leadership and effective collaboration.</li>
                    <li>Collaborated extensively with Italian MNCs in various manufacturing industries.</li>
                    <li>Contributed to executive search consultancy, identifying and placing high-caliber talent.</li>
                </ul>
            </div>

            <div class="job">
                <h3>Coderbunker Software Engineering Trainee</h3>
                <p>2017 - 2019</p>
                <ul>
                    <li>Learned coding, mainly using Javascript and React framework.</li>
                </ul>
            </div>
            <section class="section">
                <h2>Other Experiences</h2>
                <ul>
                    <li>Teleperformance Hellas: Client Advisor, Sep 2014 - Jul 2015</li>
                    <li>Donaction: Assistant to Project Manager, Mar 2014 - Jul 2014</li>
                    <li>AdvaCare Pharma USA: Marketing Intern, Dec 2013 - Mar 2014</li>
                    <li>D.B. Group: Trainee, Mar 2013 - Jun 2013</li>
                    <li>Infinity Financial Solutions: Intern, Feb 2012 - Jun 2012</li>
                </ul>
            </section>

            <section class="section">
                <h2>Training</h2>
                <ul>
                    <li>Ubiqum Coding Academy, 6/2023 - 12/2023: Refreshed coding skills, learned modern React, and
                        gained foundations of UX/UI.</li>
                    <li>Nextre Engineering Java Developer Trainee (Apprenticeship), Sep 2019 - Oct 2019: Completed Java
                        8 training following OOP methodology. This training consisted of a mix of theoretical and
                        practical exams and practices.</li>
                    <li>FreeCodeCamp: JavaScript Algorithms and Data Structures (Aug 2018), approximately 300 hours
                        training</li>
                </ul>
            </section>

            <section class="section">
                <h2>Certifications</h2>
                <ul>
                    <li>Google : Project initiation: starting a successful project</li>
                    <li>Google : Foundations of Project Management</li>
                    <li>Coursera: CRUD Operations using MongoDB NoSQL</li>
                    <li>University of Helsinki: Java Programming I (Jan 2021)</li>
                    <li>Udemy: Django 2 & Python (Oct 2018)</li>
                    <li>DataCamp: Python Fundamentals (Apr 2018) - Credential ID: #35,320</li>
                    <li>Coursera: Building Web Applications in PHP</li>
                    <li>Coursera: Front-End Web UI Frameworks and Tools: Bootstrap 4</li>
                    <li>Coursera: Introduction to Structured Query Language (SQL)</li>
                </ul>
            </section>

            <section class="section">
                <h2>Education</h2>
                <ul>
                    <li>Shanghai Normal University – Diploma in International Business, 2011/2012</li>
                    <li>University of Florence – Master's Degree in International Relations, 2006/2013</li>
                </ul>
            </section>

            <section class="section">
                <h2>Languages</h2>
                <ul>
                    <li>Italian: Mother tongue</li>
                    <li>English: Fluent</li>
                    <li>Mandarin: Basic</li>
                </ul>
            </section>

        </section>
        <section class="section">
            <h2>Certifications</h2>
            <ul>
                <li>Google : Project initiation: starting a successful project</li>
                <li>Google : Foundations of Project Management</li>
                <li>Coursera: CRUD Operations using MongoDB NoSQL</li>
                <li>University of Helsinki: Java Programming I (Jan 2021)</li>
                <li>Udemy: Django 2 & Python (Oct 2018)</li>
                <li>DataCamp: Python Fundamentals (Apr 2018) - Credential ID: #35,320</li>
                <li>Coursera: Building Web Applications in PHP</li>
                <li>Coursera: Front-End Web UI Frameworks and Tools: Bootstrap 4</li>
                <li>Coursera: Introduction to Structured Query Language (SQL)</li>
            </ul>
        </section>

        <section class="section">
            <h2>Education</h2>
            <ul>
                <li>Shanghai Normal University – Diploma in International Business, 2011/2012</li>
                <li>University of Florence – Master's Degree in International Relations, 2006/2013</li>
            </ul>
        </section>

        <section class="section">
            <h2>Languages</h2>
            <ul>
                <li>Italian: Mother tongue</li>
                <li>English: Fluent</li>
                <li>Mandarin: Basic</li>
            </ul>
        </section>



    </div>
</body>

</html>